.App {
  text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
  .App{
    max-width: 600px;
  }
}
@media only screen and (max-width: 425px){
  .App{
    max-width: 425px;
  }
}
